body {
	direction: rtl;	
}
canvas {
	border: 1px solid black;	
}
canvas.layer {
	position: absolute; 	
	right:4px; 
}
#TempLayer {
	pointer-events: none; 
	z-index: 1;		
}
.MenuContainer {
	float:right;
	right:3px; /* Fix for webkit bug */
	position: absolute;
	z-index: 2;
	margin-top: 11px;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	width: 70px;
	cursor: default;
	overflow:hidden;
	border-radius: 6px;
	background: rgb(134, 189,248);
}
.ToolMenu {
	height: 0px;	
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}
.ToolMenuVis {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	height: 140px;
	background: grey;
}
.ToolMenuVis div:hover {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	background: lightgrey;
}
.ToolMenuVis div {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}
.SettingsContainer {
	display: none;
}
.SettingsContainerVis {
	background: rgba(0, 137,248, 0.8);
	position: absolute;
	z-index: 3;
	margin: 1%;
	border-radius: 6px;
}
.ButtonContainer span {
	margin: 3px;
	border-radius: 6px;
	padding: 3px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	cursor:default;
	background: rgb(134, 189,248);
}
#EvalContainer {
	background: rgba(0, 137,248, 0.8);
	position: absolute;
	z-index: 3;
	margin: 1%;
	padding: 20px;
	width: 18%;
	border-radius: 6px;
}	
#EvalContainer input[type="text"] {
	direction: ltr;
	text-align: left;
	width: 80%;
}
.hidden {
	display: none;
}
.ButtonContainer span:hover {
	background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.51, rgb(0,168,219)),
    	color-stop(1, rgb(18,255,235))
	);
	background-image: -moz-linear-gradient(
    	center bottom,
    	rgb(0,168,219) 51%,
    	rgb(18,255,235) 100%
	);
}
